.venv/
env/
venv/
__pycache__/
*.pyc

.env
uv.lock

models/phobert_v2/*
!models/phobert_v2/.placeholder
models/phobert_spam_final/*
!models/phobert_spam_final/.placeholder
out/outputs/*
!out/outputs/.placeholder
!visualization/.placeholder